<% if(theme.profile.social.links) { %>
	<% var tooltipClass = theme.profile.social.link_tooltip === false ? '' : 'data-toggle=tooltip data-placement=top'; %>
    <script>
        
    </script>
    <ul class="social-links">
    	<% for(var i in theme.profile.social.links) { %>
        <li><a href="<%- theme.profile.social.links[i] %>"  target="_blank" title="<%= titlecase(i) %>" <%= tooltipClass %>><i class="custom-icon icon-<%= i.toLowerCase() %>-line"></i></a></li>
        <% } %>
    </ul>
<% } %>